{% extends "base.html" %}

{% block content %}
<h1>Добавление работы</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <table style="margin: 10px;">
    <tr>
        <td>{{ form.job.label }}:</td>
        <td>{{ form.job }}</td>
        {% for error in form.work_size.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </tr>
    <tr>
        <td>{{ form.team_leader.label }}:</td>
        <td>{{ form.team_leader }}</td>
        {% for error in form.work_size.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </tr>
    <tr>
        <td>{{ form.work_size.label }}:</td>
        <td>{{ form.work_size }}</td>
        {% for error in form.work_size.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </tr>
    <tr>
        <td>{{ form.collaborators.label }}:</td>
        <td>{{ form.collaborators }}</td>
        {% for error in form.work_size.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </tr>
    <tr>
        <td>{{ form.start_date.label }}:</td>
        <td>{{ form.start_date }}</td>
        {% for error in form.work_size.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </tr>
    <tr>
        <td>{{ form.team_leader.label }}:</td>
        <td>{{ form.team_leader }}</td>
        {% for error in form.team_leader.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </tr>
    </table>
    <p>{{ form.is_finished }} {{ form.is_finished.label }}</p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}